In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [3]:
dataset = pd.read_csv("dataset.csv")
dataset

     Temperature(°C)  Humidity(%)  Residents  Day_of_Week  Water_Usage(Liters)
0               28.0         35.8          7            7                348.8
1               31.2         96.1          2            6                117.3
2               30.7         99.6          4            2                  0.0
3               21.2         76.9          0            1                 42.7
4               15.0         98.5          5            4                226.5
..               ...          ...        ...          ...                  ...
395             39.4         44.8          4            5                259.5
396             33.8         40.0          5            3                283.8
397             35.6         61.2          3            5                214.7
398             17.3         62.8          6            6                251.5
399              0.0         48.6          6            5                356.1

[400 rows x 5 columns]